#mainContainer{
    display: contents;
}
#title {
    font-size: 60px;
    color:white;
    font-weight: bold;
}
#date{
    color:white;
    font-weight: bold;
    font-size: 30px;
    margin-top: -40px;
}
#weather-infos{
    flex-wrap: wrap;
    background-color: aliceblue;
    opacity: 0.85;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    padding: 20px;
    margin-top: -10px;
    position: relative;
}
#desc {
    display: flex;
    flex-direction: row;
}
#weatherDesc{
    font-size: 30px;
    margin-left: 30px;
    color: rgb(65, 70, 143);
    font-weight: bold;
}
#temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -40px;
}
#temperature{
    font-size: 55px;
    padding: 5px;
    color: rgb(65, 70, 143);
    font-weight: bold;
}
#minmax {
    color: rgb(44, 43, 43);
    margin-top: 60px;
    margin-left: 15px;
    font-weight: bold;
}
#wind-hum {
    background-color: rgb(65, 70, 143);
    color: whitesmoke;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
    justify-content: center!important;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin-top: -45px;
    position: relative;
    /* z-index:1; */
    margin-bottom: 20px;
}
#wind{
    display: flex;
    flex-direction: row;
}
#hum{
    display: flex;
    flex-direction: row;
}
#selectCol{
    margin-bottom: 80px;
}
.select{
    height: 50px;
    width: 300px;
    opacity: 0.85;
    border-radius: 10px;
}
.select option{
    color: yellow;
}
.select:focus {
    border: rgb(65, 70, 143)solid;
    border-radius: 13px;
}